@charset "ISO-8859-1";
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

.image
{
	
	width:100%;
	margin-left: 287px;
	height:350px;
}


.content-img{
	height:300px;width:100px%;margin-left: 150px; class="img-responsive;
   

}